/* =================== Global ================== */
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}


/* =================== Sections ================== */

.section-top-header {
    height: 30vh;
    background-color: blue;
}

.section-main {
    height: 100vh;
    background: red;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.section-bottom-footer {
    height: 30vh;
    background: yellow;
}

/* =================== Header (including nav) ================== */

.container-title {

}

.header-nav {

}

.header-nav-ul {

}

/* =================== Footer ================== */

.site-by {

}

.footer-nav {

}

.footer-nav-ul {

}

/* =================== Home (index.html) ================== */

.container-left-pane {

}

.container-right-pane {

}

/* =================== About ================== */

.container-subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-subtitle h1{
    display: flex;
    justify-content: center;
    font-size: 3em;
    width: 50%;
    
}
.container-subtitle p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3em;
    width: 50%;
}

.container-about-content {
    
}

/* =================== Contact ================== */

.container-contact-subtitle {

}

.container-contact-form {
    
}

