/* =================== Global ================== */
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    box-sizing: border-box;
}


/* =================== Sections ================== */

.section-top-header {
    height: 30vh;
    background-color: blue;
}

.section-main {
    height: 100vh;
    background-image: url("https://cdn.discordapp.com/attachments/840847871321440306/1022873026368385044/backtofuture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

.section-bottom-footer {
    height: 30vh;
    background: yellow;
}

/* =================== Header (including nav) ================== */

.container-title {

}

.header-nav {

}

.header-nav-ul {

}

/* =================== Footer ================== */

.site-by {

}

.footer-nav {

}

.footer-nav-ul {

}

/* =================== Home (index.html) ================== */

.container-left-pane {

}

.container-right-pane {

}

/* =================== About ================== */

.container-subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
    background-color: rgba(255, 255, 255, 0.119);
    border-radius: 50px;
    padding: 20px;
    width: 30%;
}

.container-subtitle h1{
    display: flex;
    justify-content: flex-start;
    font-size: 3em;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.446);
  
}
.container-subtitle p{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    font-size: 2.4em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgba(198, 198, 198, 0.249);

}

.container-about-content {
    
    
}

/* =================== Contact ================== */

.container-contact-subtitle {

}

.container-contact-form {
    
}

